<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
	</ul>
	<h3 class="text-muted">Todo System</h3>
</div>
<div class="container-fluid filters">
	<div class="row">
		<div class="col-md-12">
	   		<input class="form-control" ng-model="filter" placeholder="Filter...">
	   	</div>
	</div>
</div>
<div class="container-fluid">
	<div class="alert alert-danger" ng-show="errorMessage">
		{{ errorMessage }}
	</div>
	Count is {{ filteredtodos.length | filter : filter}}
	<div class="row marketing todos" ng-repeat="todo in filteredTodos = (todos | filter: filter) track by todo.id" ng-controller="todoCtrl" class="todo">
		<div class="row">
	        <div class="col-md-8">
				{{ todo.todo }}
				<input type="text" class="form-control" ng-model="todo.todo" ng-show="edit" >
			</div>
			<div class="col-md-4">
				<button ng-click="viewTodo()" ng-hide="view" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-eye-open"></span></button>
				<button ng-click="viewTodo()" ng-show="view" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-eye-close"></span></button>
				<button ng-click="editTodo()" ng-hide="edit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
				<button ng-click="saveTodo()" ng-show="edit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></button>
				<button style="float:right;" class="btn btn-sm btn-primary" ng-click="deleteTodo(todo)"><span class="glyphicon glyphicon-trash"></span></button>
	        </div>
	    </div>
	    <div class="row" ng-show="view">
	    	<div class="col-md-3"><strong>Start Date:</strong> {{todo.startDate}}</div>
	    	<div class="col-md-3"><strong>Due Date:</strong> {{todo.dueDate}}</div>
		   	<div class="col-md-3"><strong>Assign To:</strong> {{todo.assignTo.name}}</div>
		   	<div class="col-md-3"><strong>Project:</strong> {{todo.project.name}}</div>
		</div>
		<div class="row" ng-show="view">
		   	<div class="col-md-12"><strong>More Details:</strong> {{todo.details}}</div>
	    </div>
	    <div class="row" ng-show="edit">
	    	<div class="col-md-3">
	    		Start Date:
			    <input type="date" class="form-control" name="startDate" ng-model="todo.startDate" placeholder="YYYY-MM-dd" ng-show="edit"/>
	    	</div>
			<div class="col-md-3">
		    	Due Date:
		    	<input type="date" class="form-control" name="dueDate" ng-model="todo.dueDate" 	placeholder="YYYY-MM-dd" ng-show="edit"/>
		   	</div>
		   	<div class="col-md-3">
		   		Assign To:<br>
		   		<select class="form-control" name="assignTo" ng-model="todo.assignTo" ng-options="u.name for u in users" ng-show="edit" >
		   		</select>
		   	</div>
		   	<div class="col-md-3">
		   		Project:<br>
		   		<select class="form-control" name="project" ng-model="todo.project" ng-options="p.name for p in projects" ng-show="edit">
		    	</select>
		   	</div>
		    </div>
		    <div class="row" ng-show="edit">
		   	<div class="col-md-12">
		   		More Details:
		   		<textarea rows="10" class="form-control" name="details" ng-model="todo.details" ng-show="edit"></textarea>
		   	</div>
		    </div>
	    </div>
	</div>
<!-- End Container -->
<div class="container-fluid footer">	
	<div class="row marketing" style="margin-top: 0px;">
	   <form name="form" novalidate ng-submit="addTodo()">
			<div class="input-group col-md-12">
				<input class="form-control" name="todo" placeholder="Enter New Tasks"  ng-model="todo.todo" >
				<span ng-click="showMoreDetails()" ng-hide="moreDetails" class="input-group-addon glyphicon glyphicon-chevron-down" style="top: 0px;"></span>
				<span ng-click="showMoreDetails()" ng-show="moreDetails" class="input-group-addon glyphicon glyphicon-chevron-down" style="top: 0px;"></span>
	    		<button type="submit" ng-disable="form.todo.$invalid" ng-submit="addTodo()" class="input-group-addon btn btn-sm btn-primary" style="top: 0px; width: 37px; height: 34px;"><span class="glyphicon glyphicon-floppy-disk"></span></button>
			</div>
		</form>
		<div ng-show="moreDetails">
		    <div class="row">
				<div class="col-md-3">
			    	Start Date:
			    	<input type="date" class="form-control" name="startDate" ng-model="todo.startDate" placeholder="YYYY-MM-dd" />
		    	</div>
			    <div class="col-md-3">
			    	Due Date:
			    	<input type="date" class="form-control" name="dueDate" ng-model="todo.dueDate" 	placeholder="YYYY-MM-dd" />
		    	</div>
		    	<div class="col-md-3">
		    		Assign To:<br>
		    		<select class="form-control" name="assignTo" ng-model="todo.assignTo" ng-options="u.name for u in users">
		    		</select>
		    	</div>
		    	<div class="col-md-3">
		    		Project:<br>
		    		<select class="form-control" name="project" ng-model="todo.project" ng-options="p.name for p in projects">
			    	</select>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-12">
		    		More Details:
		    		<textarea rows="10" class="form-control" name="details" ng-model="todo.details"></textarea>
		    	</div>
		    </div>
		</div>
	</div>
</div>