doctype html5
html
  title Gainpace Tasks System 
body
  center: h1 Gainpace Tasks Management System
  div Gainpace has created a Tasks Management system that is created in HTML5 so works on  all devices and works both offline and online. 
  | When it is complete you will be able to sync your tasks between your devices.
